.videoBg {
    position: fixed;
    z-index: -1;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    // procenty odnoszą się do vievport
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &.weather__title {
        color: $titleColor;
        text-align: center;
        @include fluid-type(320px, 1920px, 30px, 60px);
        margin: 0 0 40px 0;
    }
}